/* Copyright cantstopthesignals@gmail.com */
html {
  background: white;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 16px;
}
body.main {
  background-color: #333;
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
a {
  color: #0000cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.app {
  height: 100%;
}
.app-bar {
  background-color: #666;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 48px;
  padding: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* FF lt 4 */
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* Safari le 5 */
}
.app-bar-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.app-icon {
  display: inline-block;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.app-icon > .inner {
  width: 32px;
  height: 32px;
  background: url(/images/logo64.png) no-repeat;
  background-size: contain;
}
.app-bar-main-menu {
  color: white;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
}
.app-bar-main-menu > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  margin-right: 24px;
}
.app-bar > .spinner {
  float: right;
  margin: 2px 5px 2px 0;
}
.about-content {
  color: #ddd;
  font-size: 13px;
  padding: 10px;
}
.about-content a {
  color: #99f;
}
.app-bar-button {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-right: 16px;
  line-height: 32px;
}
.source-picker {
  background-color: #89b;
  width: 100%;
  height: 48px;
  padding: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* FF lt 4 */
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* Safari le 5 */
  position: relative;
}
.source-picker-button {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0px 16px 8px 16px;
  margin-bottom: -8px;
}
.source-picker-button.active {
  background-color: #89b;
  color: #f0f8ff;
}
.source-tile {
  cursor: pointer;
  display: inline-block;
  margin-right: 4px;
  border-radius: 4px;
  padding: 4px 0 4px 4px;
}
.source-tile.selectable {
  background-color: #6080b0;
  padding: 4px;
  margin-left: 4px;
}
.source-tile.selectable:hover {
  background-color: #469;
}
.source-tile.selectable.selected {
  background-color: #247;
}
.source-tile > .note {
  display: inline-block;
  color: #f0f8ff;
  padding: 0px 8px;
  font-size: 14px;
  line-height: 32px;
}
.source-tile > .spinner-wrapper {
  width: 0px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}
.source-tile > .spinner-wrapper > .spinner {
  position: relative;
  width: 28px;
  height: 28px;
  top: -4px;
  left: 4px;
}
.button {
  background: -moz-linear-gradient(top, #eee, #ccc);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  color: black;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  padding: 5px 10px;
}
.button:active {
  background: -moz-linear-gradient(top, #ccc, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee));
}
.dialog {
  background-color: black;
  color: white;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;  /* FF lt 4 */
  box-shadow: 0px 5px 10px #000;
  -moz-box-shadow: 0px 5px 10px #000;  /* FF lt 4 */
  -webkit-box-shadow: 0px 5px 10px #000;  /* Safari le 5 */
  overflow: hidden;
  z-index: 20;
}
.dialog .button {
  border: 1px solid #aaa;
  display: block;
  margin-top: 5px;
}
.spinner-wrapper {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.spinner-wrapper.float {
  width: 0px;
  height: 0px;
  position: absolute;
}
.spinner {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.progress {
  position: absolute;
  border-radius: 20px;
  height: 20px;
  width: 200px;
  background-color: #707070;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px;
}
.progress > .fill {
  width: 30px;
  background-color: #ccc;
  height: 14px;
  border-radius: 10px;
}
.album-view {
  outline: 0;
  position: relative;
}
.album-view > .spinner-wrapper > .spinner {
  width: 48px;
  height: 48px;
}
.album-nav-arrow {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 16px;
  cursor: pointer;
}
.album-nav-arrow:hover > .left {
  border-right-color: #aaa !important;
}
.album-nav-arrow:hover > .right {
  border-left-color: #aaa !important;
}
.album-nav-arrow > div {
  border: 24px solid transparent;
  width: 0px;
  height: 0px;
}
.album-nav-arrow > .left {
  border-right-color: #707070 !important;
  border-left-width: 0 !important;
}
.album-nav-arrow > .right {
  border-left-color: #707070 !important;
  border-right-width: 0 !important;
}
.photo-display {
  position: relative;
}
.photo-display > .image {
  display: inline-block;
  position: absolute;
}
.threedcross-photo-display > .help-container {
  color: #707070;
  font-size: 24px;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  line-height: 32px;
}
.threedcross-photo-display > .cross-eye-dot {
  background-color: #707070;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 12px;
}
.help-flyout {
  color: #333;
  background-color: #707070;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 12px;
  font-size: 14px;
  margin-left: 10px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
  top: -1px;
}
.photo-view > .spinner-wrapper > .spinner {
  width: 48px;
  height: 48px;
}
.source-tile-logo {
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.source-tile > .note > .source-tile-logo {
  vertical-align: middle;
}
.source-tile > .button .source-tile-logo {
  vertical-align: top;
}
.google-drive-logo {
  background-image: url(/images/googledriveicon48.png);
}
.google-plus-logo {
  background-image: url(/images/googleplusicon48.png);
}
.my-computer-logo {
  background-image: url(/images/mycomputericon48.png);
}
