/* Copyright cantstopthesignals@gmail.com */
html {
  background: white;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 16px;
}
body.main {
  background-color: #333;
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
a {
  color: #0000cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.app {
  height: 100%;
}
.app-bar {
  background-color: #666;
  position: relative;
  box-sizing: border-box;
  height: 48px;
  padding: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* FF lt 4 */
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* Safari le 5 */
}
.app-bar-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.app-icon {
  display: inline-block;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.app-icon > .inner {
  width: 32px;
  height: 32px;
  background: url(/images/logo64.png) no-repeat;
  background-size: contain;
}
.app-bar-main-menu {
  color: white;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
}
.app-bar-main-menu > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  margin-right: 24px;
}
.app-bar > .spinner {
  float: right;
  margin: 2px 5px 2px 0;
}
.about-content {
  color: #ddd;
  font-size: 13px;
  padding: 10px;
}
.about-content a {
  color: #99f;
}
.media-picker {
  background-color: #89b;
  width: 100%;
  height: 48px;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* FF lt 4 */
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);  /* Safari le 5 */
  position: relative;
}
.app-bar-button {
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-right: 16px;
  line-height: 32px;
}
.media-picker-button {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0px 16px 8px 16px;
  margin-bottom: -8px;
}
.media-picker-button.active {
  background-color: #89b;
  color: #f0f8ff;
}
.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  color: black;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  padding: 5px 10px;
}
.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee));
}
.dialog {
  background-color: black;
  color: white;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;  /* FF lt 4 */
  box-shadow: 0px 5px 10px #000;
  -moz-box-shadow: 0px 5px 10px #000;  /* FF lt 4 */
  -webkit-box-shadow: 0px 5px 10px #000;  /* Safari le 5 */
  overflow: hidden;
  z-index: 20;
}
.dialog .button {
  border: 1px solid #aaa;
  display: block;
  margin-top: 5px;
}
.spinner {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.album-view {
  outline: 0;
}
.photo-display {
  position: relative;
}
.photo-display > .image {
  display: inline-block;
  position: absolute;
}
